<div id="login-main-container" class="account-main-container">
    <form action="login" method="post">
        <div class="input-container">
            <input type="text" name="username" required>
            <span>Felhasználónév</span>
        </div>
        <div class="input-container">
            <input type="password" name="passwd" required>
            <span>Jelszó</span>
        </div>
        <button type="submit">Bejelentkezés</button>
    </form>
</div>

<div id="register-main-container" class="account-main-container">
    <form action="register" method="post">
        <div class="input-container">
            <input type="text" name="username" required>
            <span>Felhasználónév</span>
        </div>
        <div class="input-container">
            <input type="text" name="email" required>
            <span>E-Mail cím</span>
        </div>
        <div class="input-container">
            <input type="password" name="passwd" required>
            <span>Jelszó</span>
        </div>
        <div class="input-container">
            <input type="password" name="passwd_again" required>
            <span>Jelszó ismét</span>
        </div>
        <button type="submit">Regisztráció</button>
    </form>
</div>