<div class="navbar-container">
    <div class="logo-container">
        <a href="/"><span>Nem </span><span class="logo-text">IMDb</span></a>
    </div>
    <nav class="navbar">
        <div class="pages-container">
            <a href="/"><button class="button-active">Kezdőlap</button></a>
            <a href="/people"><button class="button">Emberek</button></a>
        </div>
        <div class="search-container">
            <form action="search" method="post">
                <input class="search-bar" type="search" name="input">
                <button type="submit" class="search-button">Keresés</button>
            </form>
        </div>
    </nav>
    <div class="account-button-container">
    <% if (localStorage.getItem('loggedin') == 'true') { %>
        <button class="loggedin">
            <form action="logout" method="post">
                <input type="image" src="/img/logout.svg">
            </form>
            <span class="welcome">Üdv,</span><br>
            <span><%- localStorage.getItem('username') %></span>
        </button>
    <% } else { %>
        <button class="login" onclick="toggleLogin()">Bejelentkezés</button>
        <button class="register" onclick="toggleRegister()">Regisztráció</button>
        <% } %>
    </div>
</div>
<script>
    let openedLogin = false;
    let openedRegister = false;
    const loginContainer = document.getElementById("login-main-container");
    const registerContainer = document.getElementById("register-main-container");

    function toggleLogin() {
        if (!openedLogin) {
            if (openedRegister)
            registerContainer.style.display = "none";
            openedRegister = false;
            loginContainer.style.display = "flex";
        } else {
            loginContainer.style.display = "none";
        }
        openedLogin = !openedLogin;
    }

    function toggleRegister() {
        if (!openedRegister) {
            loginContainer.style.display = "none";
            registerContainer.style.display = "flex";
            openedLogin = false;
        } else {
            registerContainer.style.display = "none";
        }
        openedRegister = !openedRegister;
    }
</script>