<div class="navbar-container">
    <div class="logo-container">
        <span>Nem </span><span class="logo-text">IMDb</span>
    </div>
    <nav class="navbar">
        <div class="search-container">
            <input class="search-bar" type="search" name="" id="">
            <button class="search-button">Keresés</button>
        </div>
    </nav>
</div>